
# Python

**pycache**/
\*.pyc
.venv/
venv/
.env

# Datasets and large files

datasets/raw/
datasets/processed/
models/

# Large results

results/plots/
results/predictions/

# Others

.DS\_Store
.ipynb\_checkpoints/
